* {
    border: red solid 1px;
}

/* Buttons */
button {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* BEGIN: Added border property */
}

button:hover {
    background-color: #1976d2;
}

button:active {
    background-color: #1565c0;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #6b6b6b;
}


/* Text inputs */
input[type="text"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-color: #2196f3;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
}

/* Labels */
label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.sbom-container {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.bottom-buttons {
    position: sticky;
    bottom: 0;
    padding: 1em;
}
